*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #222;
    color: #fff;
    font-family: system-ui;
}
.cruds{
    width: 80%;
    margin: auto;
}
.head{
    text-align: center;
    text-transform: uppercase;
    margin: 10px 0;
}
input{
    width: 100%;
    height: 30px;
    background-color: #111;
    border: none;
    border-radius: 5px;
    outline: none;
    margin: 4px 0;
    padding: 10px;
    color: #fff;
}
input:focus{
    background-color: black;
    transform: scale(1.02);
}
.price input{
    width: 20%;
}
#total{
    background-color: #a00d02;
    padding: 5px 2px;
    border-radius: 4px;
}
#total::before{
    content: 'Total : ';
}
button{
    width: 100%;
    height: 30px;
    background-color: #310044;
    border: none;
    color:#fff ;
    cursor: pointer;
    border-radius: 20px;
    margin: 4px 0;
    font-weight: 600;
    transition: 0.5s;
}
button:hover{
    background-color: #4b0268;
    letter-spacing: 1px;
}
.btnsearch{
    display: flex;
    justify-content: space-between;
}
.btnsearch button{
    width: 45%;
    justify-self: center;
}
table{
    width: 100%;
    text-align: center;
    margin: 10px 0;
}
table th{
    text-transform: uppercase;
}
th,td{
    padding: 5px;
}
#deleteAll{
    margin: 20px 0;
}